body{background-color: red;}

h1{ text-align: center;
    background-color: aqua;
    color: aliceblue;}

.kattakarobka1{
  height: 1000px;
  background-color: bisque;


}

.karobka1{
  width: 300px;
  height: 300px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
}

.rasm1{
  width: 100px;
}

.btn1{
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 5px 15px;
}


